# Node modules
node_modules/

# Environment variables
.env
.env.local

README.md

# Logs
logs
*.log
npm-debug.log*

# OS / Editor
.DS_Store
.vscode/

# Build & cache
dist/
build/
.cache/

# PM2 logs
pids
*.pid
*.seed
